In [1]:
# Importing libraries
from bs4 import BeautifulSoup
import requests
from requests import get
import pandas as pd

# Scraping Data From Single Pages..!

In [2]:
# Step 1 : Create URL Object
url = 'https://books.toscrape.com/catalogue/page-1.html'

# Step 2 : To request the server to connect to this webpage
page = requests.get(url)

#BeautifulSoup is a popular Python library used for parsing and extracting data from HTML and XML documents.
soup = BeautifulSoup(page.text,'html.parser')

In [3]:
# Finding orders list
ol = soup.find("ol")
# Then we find product_pod which contains info about product
articales = ol.find_all("article",class_ = "product_pod")

In [5]:
# Now Scraping Data from single page
books = []
# Using for loop extracting the info
for articale in articales:
    image = articale.find('img')
    title = image.attrs["alt"]
    star = articale.find("p")
    star = star["class"][1]
    price = articale.find("p",class_ = "price_color").text
    price = float(price[2:])
    books.append([title,price,star])

In [24]:
pd.DataFrame(books).head()

                                                   0      1      2
0  Immunity: How Elie Metchnikoff Changed the Cou...  57.36   Five
1  I Hate Fairyland, Vol. 1: Madly Ever After (I ...  29.17    Two
2                       I am a Hero Omnibus Volume 1  54.63  Three
3  How to Be Miserable: 40 Strategies You Already...  46.03    One
4      Her Backup Boyfriend (The Sorensen Family #1)  33.97    One

# Now we, Scrapping data from multiples pages...!

In [18]:
# Creating empty list to append scraped data
total_books = []

# Defining range for pages
for i in range(1,51):
    
    # page url
    
    # Why We Use f before "url"
    # In Python, the f before a string is used to create an f-string, 
    # which stands for "formatted string." An f-string allows you to embed 
    # expressions inside curly braces {} within the string, and the expressions 
    # inside the curly braces will be evaluated and replaced with their values.
    
    url = f'https://books.toscrape.com/catalogue/page-{i}.html'
    page = requests.get(url)
    soup = BeautifulSoup(page.text,'html.parser')
    
    # Finding orders list of page
    ol = soup.find("ol")
    
    # Then we find product_pod which contains info about product
    articales = ol.find_all("article",class_ = "product_pod")
    
    # Using for loop extracting the info
    for articale in articales:
        image = articale.find('img')
        title = image.attrs["alt"]
        star = articale.find("p")
        star = star["class"][1]
        price = articale.find("p",class_ = "price_color").text
        price = float(price[2:])
        
        # Now we append all extracted info into empy list
        total_books.append([title,price,star])

In [21]:
# Now we convert our list into data frame and defining columns name.
Total_Books = pd.DataFrame(total_books,columns = ["Title","Price (Pound Sterling (£))","Star Rating"])
Total_Books.head()

,Title,Price (Pound Sterling (£)),Star Rating
0,A Light in the Attic,51.77,Three
1,Tipping the Velvet,53.74,One
2,Soumission,50.10,One
3,Sharp Objects,47.82,Four
4,Sapiens: A Brief History of Humankind,54.23,Five

In [22]:
# Shape of our data frame
Total_Books.shape

(1000, 3)

In [23]:
# Converting Data Frame Into "CSV" File
Total_Books.to_csv("Total_Books.csv")

### The_End...!